spark.master                      yarn

spark.eventLog.enabled            true
spark.eventLog.dir                hdfs://{{ master_host }}:19000/spark/logs

spark.history.provider            org.apache.spark.deploy.history.FsHistoryProvider
spark.history.fs.logDirectory     hdfs://{{ master_host }}:19000/spark/logs
spark.history.fs.update.interval  10s
spark.history.ui.port             18080

spark.kerberos.keytab             {{ keytab_path }}
spark.kerberos.principal          spark/{{ inventory_hostname }}@HADOOP.CONSULTANT.RU
