export JAVA_TOOL_OPTIONS=-Dcluster.mode={{ cluster_mode }}

export SPARK_HOME={{ opt_dir }}/spark
export HADOOP_CONF_DIR={{ opt_dir }}/hadoop/etc/hadoop
export YARN_CONF_DIR={{ opt_dir }}/hadoop/etc/hadoop
