spark.master                      yarn

spark.eventLog.enabled            true
spark.eventLog.dir                hdfs://{{ master_host }}:{{ core_default_fs_port }}/spark/logs

spark.history.provider            org.apache.spark.deploy.history.FsHistoryProvider
spark.history.fs.logDirectory     hdfs://{{ master_host }}:{{ core_default_fs_port }}/spark/logs
spark.history.fs.update.interval  10s
spark.history.ui.port             {{ spark_history_ui_port }}

{% if use_secure_mode %}
spark.history.kerberos.principal  {{ spark_user }}/{{ inventory_hostname }}@{{ kdc_realm_service }}
spark.history.kerberos.keytab     {{ keytab_path }}

spark.kerberos.principal          {{ spark_user }}/{{ inventory_hostname }}@{{ kdc_realm_service }}
spark.kerberos.keytab             {{ keytab_path }}
{% endif %}
