<configuration>
  <property>
    <name>fs.defaultFS</name>
    <value>hdfs://{{ master_host }}:19000</value>
  </property>

  <property>
    <name>dfs.namenode.secondary.http-address</name>
    <value>{{ master_host }}:50090</value>
  </property>

  {% for user in ["HTTP", "hdfs", "hive"] %}
    <property>
      <name>hadoop.proxyuser.{{ user }}.hosts</name>
      <value>*</value>
    </property>
    <property>
      <name>hadoop.proxyuser.{{ user }}.groups</name>
      <value>*</value>
    </property>
  {% endfor %}

  {% if use_secure_mode %}
    <property>
      <name>hadoop.security.authorization</name>
      <value>true</value>
    </property>
    <property>
      <name>hadoop.security.authentication</name>
      <value>kerberos</value>
    </property>
    <property>
      <name>hadoop.security.authentication.type</name>
      <value>kerberos</value>
    </property>
    <property>
      <name>hadoop.rpc.protection</name>
      <value>authentication</value>
    </property>
    <property>
      <name>ipc.client.fallback-to-simple-auth-allowed</name>
      <value>true</value> 
      <description>Позволяет копировать данные из незащищенного кластера в защищенный</description>
    </property>

    <property>
      <name>hadoop.http.authentication.kerberos.principal</name>
      <value>HTTP/{{ master_host }}@{{ kdc_realm }}</value>
    </property>
    <property>
      <name>hadoop.http.authentication.kerberos.keytab</name>
      <value>{{ keytab_path }}</value>
    </property>

    <property>
      <name>hadoop.http.authentication.type</name>
      <value>kerberos</value>
    </property>
    <property>
      <name>hadoop.http.staticuser.user</name>
      <value>HTTP</value>
    </property>
  {% endif %}
</configuration>
