<configuration>
  <property>
    <name>fs.defaultFS</name>
    <value>hdfs://{{ master_host }}:{{ core_default_fs_port }}</value>
  </property>

  {% for user in [hdfs_user, hive_user] %}
    <property>
      <name>hadoop.proxyuser.{{ user }}.hosts</name>
      <value>*</value>
    </property>
    <property>
      <name>hadoop.proxyuser.{{ user }}.groups</name>
      <value>*</value>
    </property>
  {% endfor %}

  <property>
    <name>ipc.client.fallback-to-simple-auth-allowed</name>
    <value>true</value>
    <description>
      Позволяет копировать данные из незащищенного кластера в защищенный
    </description>
  </property>

  {% if use_secure_mode %}
    <property>
      <name>hadoop.security.authentication</name>
      <value>kerberos</value>
    </property>
    <property>
      <name>hadoop.security.authorization</name>
      <value>true</value>
    </property>

    <property>
      <name>hadoop.rpc.protection</name>
      <value>authentication</value>
    </property>

    <property>
      <name>hadoop.http.authentication.type</name>
      <value>kerberos</value>
    </property>
    <property>
      <name>hadoop.http.authentication.kerberos.principal</name>
      <value>HTTP/_HOST@{{ kdc_realm_service }}</value>
    </property>
    <property>
      <name>hadoop.http.authentication.kerberos.keytab</name>
      <value>{{ keytab_path }}</value>
    </property>

    <property>
      <name>hadoop.security.auth_to_local</name>
      <value>
        {% if kdc_realm_user %}
        {# 
          Применить правило к пользователям вида ".*@KC.KPLUS"
          Трансформировать их следующим образом: 
          "SUBD-LebedevNA@KC.KPLUS" -> "SUBD-LebedevNA" 
        #}
        RULE:[1:$1@$0](^.*@{{ kdc_realm_user }})s/^(.*)@{{ kdc_realm_user }}/$1/g
        RULE:[2:$1@$0](^.*@{{ kdc_realm_user }})s/^(.*)@{{ kdc_realm_user }}/$1/g
        {% endif %}
        DEFAULT
      </value>
    </property>
  {% endif %}
</configuration>
