<configuration>
  <property>
    <name>fs.defaultFS</name>
    <value>hdfs://{{ master_host }}:19000</value>
  </property>

  {# == Proxy Users == #}

  <property>
    <name>hadoop.proxyuser.hive.hosts</name>
    <value>{{ master_host }}</value>
  </property>
  <property>
    <name>hadoop.proxyuser.hive.users</name>
    <value>*</value>
  </property>
  <property>
    <name>hadoop.proxyuser.hive.groups</name>
    <value>*</value>
  </property>
  <property>
    <name>hadoop.proxyuser.airflow.hosts</name>
    <value>{{ master_host }}</value>
  </property>
  <property>
    <name>hadoop.proxyuser.airflow.users</name>
    <value>*</value>
  </property>
  <property>
    <name>hadoop.proxyuser.airflow.groups</name>
    <value>*</value>
  </property>

  {# == Security == #}
  <property>
    <name>hadoop.security.authentication</name>
    <value>kerberos</value>
  </property>
  <property>
    <name>hadoop.security.authorization</name>
    <value>true</value>
  </property>
  <property>
    <name>hadoop.rpc.protection</name>
    <value>authentication</value>
  </property>
</configuration>
