export JAVA_TOOL_OPTIONS=-Dcluster.mode={{ cluster_mode }}

export HADOOP_HOME={{ opt_dir }}/hadoop
export HADOOP_CONF_DIR={{ opt_dir }}/hadoop/etc/hadoop

export HDFS_NAMENODE_USER={{ hdfs_user }}
export HDFS_SECONDARYNAMENODE_USER={{ hdfs_user }}
export HDFS_DATANODE_SECURE_USER={{ hdfs_user }}
export JSVC_HOME=/usr/bin
