<configuration>
  <property>
    <name>user.name</name>
    <value>{{ mapred_user }}</value>
  </property>
  <property>
    <name>mapreduce.framework.name</name>
    <value>yarn</value>
  </property>
  <property>
    <name>mapreduce.shuffle.port</name>
    <value>{{ mapreduce_shuffle_port }}</value>
  </property>

  {% for service, port in [
      [ "jobhistory",         mapreduce_jobhistory_port        ],
      [ "jobhistory.webapp",  mapreduce_jobhistory_webapp_port ],
      [ "jobhistory.admin",   mapreduce_jobhistory_admin_port  ],
    ]
  %}
    <property>
      <name>mapreduce.{{ service }}.address</name>
      <value>0.0.0.0:{{ port }}</value>
    </property>
  {% endfor %}

  {% for word in ["yarn.app.mapreduce.am", "mapreduce.map", "mapreduce.reduce"] %}
    <property>
      <name>{{ word }}.env</name>
      <value>HADOOP_MAPRED_HOME={{ opt_dir }}/hadoop</value>
    </property>
  {% endfor %}
  
  {% if use_secure_mode %}
    <property>
      <name>mapreduce.jobhistory.principal</name>
      <value>{{ mapred_user }}/_HOST@{{ kdc_realm }}</value>
    </property>
    <property>
      <name>mapreduce.jobhistory.keytab</name>
      <value>{{ keytab_path }}</value>
    </property>
  {% endif %}
</configuration>
