{% set principal = "mapred/_HOST@" + kdc_realm %}
<configuration>
  <property>
    <name>mapreduce.job.user.name</name>
    <value>hadoop</value>
  </property>
  <property>
    <name>yarn.resourcemanager.address</name>
    <value>{{ master_host }}:8032</value>
  </property>
  <property>
    <name>mapreduce.framework.name</name>
    <value>yarn</value>
  </property>
  <property>
    <name>yarn.app.mapreduce.am.env</name>
    <value>HADOOP_MAPRED_HOME=/opt/hadoop</value>
  </property>
  <property>
    <name>mapreduce.map.env</name>
    <value>HADOOP_MAPRED_HOME=/opt/hadoop</value>
  </property>
  <property>
    <name>mapreduce.reduce.env</name>
    <value>HADOOP_MAPRED_HOME=/opt/hadoop</value>
  </property>

  {# == Security == #}
  <property>
    <name>mapreduce.jobhistory.principal</name>
    <value>{{ principal }}</value>
  </property>
  <property>
    <name>mapreduce.jobhistory.keytab</name>
    <value>{{ keytab_path }}</value>
  </property>
</configuration>
