{% set principal = "hbase/_HOST@" + kdc_realm %}
<configuration>
  <property>
    <name>hbase.cluster.distributed</name>
    <value>true</value>
  </property>
  <property>
    <name>hbase.rootdir</name>
    <value>hdfs://{{ master_host }}:19000/hbase</value>
  </property>
  <property>
    <name>hbase.unsafe.stream.capability.enforce</name>
    <value>false</value>
  </property>
  <property>
    <name>hbase.wal.provider</name>
    <value>filesystem</value>
  </property>

  <property>
    <name>hbase.zookeeper.quorum</name>
    <value>{{ groups['zk_hosts'] | join(',')  }}</value>
  </property>
  <property>
    <name>hbase.zookeeper.property.dataDir</name>
    <value>{{ master_zookeeper_data_dir }}</value>
  </property>

  {# == Security == #}
  <property>
    <name>hbase.master.kerberos.principal</name>
    <value>{{ principal }}</value>
  </property>
  <property>
    <name>hbase.regionserver.kerberos.principal</name>
    <value>{{ principal }}</value>
  </property>
  <property>
    <name>hbase.master.keytab.file</name>
    <value>{{ keytab_path }}</value>
  </property>
  <property>
    <name>hbase.regionserver.keytab.file</name>
    <value>{{ keytab_path }}</value>
  </property>
</configuration>
